Alias {{ ganglia_web_location }} {{ ganglia_web_path }}

<Location "{{ ganglia_web_location }}">
	   AllowOverride All
	   Order allow,deny
	   Allow from all
	   Deny from none
	   # Use Require instead of Order, Allow and Deny if
	   # running on Apache 2.4 or using authz_core
	   # Otherwise, a permission denied by client error might occur
	   # Require all granted
</Location>